<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ams.dao.IAmsExamDateDao">

    <!--添加-->
	<insert id="add" parameterType="java.util.HashMap">
		insert into `ams_exam_date`
            <trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="examDateId != null">
					exam_date_id,
				</if>
				<if test="examName != null">
					exam_name,
				</if>
				<if test="examCode != null">
					exam_code,
				</if>
				<if test="createUserName != null">
					create_user_name,
				</if>
				<if test="createTime != null">
					create_time,
				</if>
				<if test="editUserName != null">
					edit_user_name,
				</if>
				<if test="editTime != null">
					edit_time,
				</if>
				<if test="flgDelete != null">
					flg_delete,
				</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
				<if test="examDateId != null">
					#{examDateId},
				</if>
				<if test="examName != null">
					#{examName},
				</if>
				<if test="examCode != null">
					#{examCode},
				</if>
				<if test="createUserName != null">
					#{createUserName},
				</if>
				<if test="createTime != null">
					#{createTime},
				</if>
				<if test="editUserName != null">
					#{editUserName},
				</if>
				<if test="editTime != null">
					#{editTime},
				</if>
				<if test="flgDelete != null">
					#{flgDelete},
				</if>
		</trim>
	</insert>

    <!--删除-->
	<delete id="delete" parameterType="java.util.HashMap">
		delete from `ams_exam_date`
		<where>
            <if test="examDateId != null">
                and exam_date_id=#{examDateId}
            </if>
            <if test="examDateId == null">
                and 1 = 0
            </if>
		</where>
	</delete>

    <!--更新-->
	<update id="update" parameterType="java.util.HashMap">
		update `ams_exam_date`
		<trim prefix="set" suffixOverrides=",">
				<if test="examDateId != null">
					exam_date_id=#{examDateId},
				</if>
				<if test="examName != null">
					exam_name=#{examName},
				</if>
				<if test="examCode != null">
					exam_code=#{examCode},
				</if>
				<if test="createUserName != null">
					create_user_name=#{createUserName},
				</if>
				<if test="createTime != null">
					create_time=#{createTime},
				</if>
				<if test="editUserName != null">
					edit_user_name=#{editUserName},
				</if>
				<if test="editTime != null">
					edit_time=#{editTime},
				</if>
				<if test="flgDelete != null">
					flg_delete=#{flgDelete},
				</if>
		</trim>
		<where>
            <if test="examDateId != null">
                and exam_date_id=#{examDateId}
            </if>
            <if test="examDateId == null">
                and 1 = 0
            </if>
		</where>
	</update>

    <!--固定条件查询-->
	<select id="select" parameterType="java.util.HashMap"
		resultType="java.util.LinkedHashMap">
			select 
				exam_name as "examName",
				exam_code as "examCode",
				create_user_name as "createUserName",
				create_time as "createTime",
				exam_date_id as "examDateId"
			from `ams_exam_date`
			<where>
					<if test="examDateId != null">
						and exam_date_id=#{examDateId}
					</if>
					<if test="examName != null">
						and exam_name=#{examName}
					</if>
					<if test="examCode != null">
						and exam_code=#{examCode}
					</if>
					<if test="createUserName != null">
						and create_user_name=#{createUserName}
					</if>
					<if test="createTime != null">
						and create_time=#{createTime}
					</if>
					<if test="editUserName != null">
						and edit_user_name=#{editUserName}
					</if>
					<if test="editTime != null">
						and edit_time=#{editTime}
					</if>
					<if test="flgDelete != null">
						and flg_delete=#{flgDelete}
					</if>
			</where>
			<if test="orderStr != '' and orderStr != null">
				order by ${orderStr}
			</if>
            <if test="start != null and pageSize != null">
                limit #{start},#{pageSize}
            </if>
		
		
	</select>

    <!--分页（模糊查询的公共条件）-->
    <sql id="likeSelectConditions">
                <if test="examName != null and examName != '' ">
                and exam_name <![CDATA[=]]> #{examName}
                </if>
                <if test="examCode != null and examCode != '' ">
                and exam_code <![CDATA[=]]> #{examCode}
                </if>
                <if test="createUserName != null and createUserName != '' ">
                and create_user_name <![CDATA[=]]> #{createUserName}
                </if>
                <if test="createTime != null  ">
                and create_time <![CDATA[=]]> #{createTime}
                </if>
    </sql>

    <!--分页（模糊）查询-->
	<select id="likeSelect" parameterType="java.util.HashMap"
		resultType="java.util.LinkedHashMap">
			select
				exam_name as "examName",
				exam_code as "examCode",
				create_user_name as "createUserName",
				create_time as "createTime",
				exam_date_id as "examDateId"

                from `ams_exam_date`
			
			<where>
                <include refid="likeSelectConditions"/>
			</where>
			
			<if test="orderStr != '' and orderStr != null">
				order by ${orderStr}
			</if>
            <if test="start != null and pageSize != null">
                limit #{start},#{pageSize}
            </if>
		
		
	</select>

    <!--分页（模糊）查询条数-->
	<select id="likeSelectCount" parameterType="java.util.HashMap"
		resultType="java.lang.Long">
		select 
			count(1)
		from `ams_exam_date`
		
		<where>
            <include refid="likeSelectConditions"/>
		</where>
	</select>
	
</mapper>