<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ams.dao.IAmsExamItemDao">

    <!--添加-->
	<insert id="add" parameterType="java.util.HashMap">
		insert into `ams_exam_item`
            <trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="examItemId != null">
					exam_item_id,
				</if>
				<if test="examId != null">
					exam_id,
				</if>
				<if test="classId != null">
					class_id,
				</if>
				<if test="classExamNum != null">
					class_exam_num,
				</if>
				<if test="examItemTime != null">
					exam_item_time,
				</if>
				<if test="createUserName != null">
					create_user_name,
				</if>
				<if test="createTime != null">
					create_time,
				</if>
				<if test="editUserName != null">
					edit_user_name,
				</if>
				<if test="editTime != null">
					edit_time,
				</if>
				<if test="flgDelete != null">
					flg_delete,
				</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
				<if test="examItemId != null">
					#{examItemId},
				</if>
				<if test="examId != null">
					#{examId},
				</if>
				<if test="classId != null">
					#{classId},
				</if>
				<if test="classExamNum != null">
					#{classExamNum},
				</if>
				<if test="examItemTime != null">
					#{examItemTime},
				</if>
				<if test="createUserName != null">
					#{createUserName},
				</if>
				<if test="createTime != null">
					#{createTime},
				</if>
				<if test="editUserName != null">
					#{editUserName},
				</if>
				<if test="editTime != null">
					#{editTime},
				</if>
				<if test="flgDelete != null">
					#{flgDelete},
				</if>
		</trim>
	</insert>

    <!--删除-->
	<delete id="delete" parameterType="java.util.HashMap">
		delete from `ams_exam_item`
		<where>
            <if test="examItemId != null">
                and exam_item_id=#{examItemId}
            </if>
            <if test="examItemId == null">
                and 1 = 0
            </if>
		</where>
	</delete>

    <!--更新-->
	<update id="update" parameterType="java.util.HashMap">
		update `ams_exam_item`
		<trim prefix="set" suffixOverrides=",">
				<if test="examItemId != null">
					exam_item_id=#{examItemId},
				</if>
				<if test="examId != null">
					exam_id=#{examId},
				</if>
				<if test="classId != null">
					class_id=#{classId},
				</if>
				<if test="classExamNum != null">
					class_exam_num=#{classExamNum},
				</if>
				<if test="examItemTime != null">
					exam_item_time=#{examItemTime},
				</if>
				<if test="createUserName != null">
					create_user_name=#{createUserName},
				</if>
				<if test="createTime != null">
					create_time=#{createTime},
				</if>
				<if test="editUserName != null">
					edit_user_name=#{editUserName},
				</if>
				<if test="editTime != null">
					edit_time=#{editTime},
				</if>
				<if test="flgDelete != null">
					flg_delete=#{flgDelete},
				</if>
		</trim>
		<where>
            <if test="examItemId != null">
                and exam_item_id=#{examItemId}
            </if>
            <if test="examItemId == null">
                and 1 = 0
            </if>
		</where>
	</update>

    <!--固定条件查询-->
	<select id="select" parameterType="java.util.HashMap"
		resultType="java.util.LinkedHashMap">
			select 
				exam_id as "examId",
				class_id as "classId",
				class_exam_num as "classExamNum",
				exam_item_time as "examItemTime",
				create_user_name as "createUserName",
				create_time as "createTime",
				exam_item_id as "examItemId"
			from `ams_exam_item`
			<where>
					<if test="examItemId != null">
						and exam_item_id=#{examItemId}
					</if>
					<if test="examId != null">
						and exam_id=#{examId}
					</if>
					<if test="classId != null">
						and class_id=#{classId}
					</if>
					<if test="classExamNum != null">
						and class_exam_num=#{classExamNum}
					</if>
					<if test="examItemTime != null">
						and exam_item_time=#{examItemTime}
					</if>
					<if test="createUserName != null">
						and create_user_name=#{createUserName}
					</if>
					<if test="createTime != null">
						and create_time=#{createTime}
					</if>
					<if test="editUserName != null">
						and edit_user_name=#{editUserName}
					</if>
					<if test="editTime != null">
						and edit_time=#{editTime}
					</if>
					<if test="flgDelete != null">
						and flg_delete=#{flgDelete}
					</if>
			</where>
			<if test="orderStr != '' and orderStr != null">
				order by ${orderStr}
			</if>
            <if test="start != null and pageSize != null">
                limit #{start},#{pageSize}
            </if>
		
		
	</select>

    <!--分页（模糊查询的公共条件）-->
    <sql id="likeSelectConditions">
                <if test="examId != null and examId != '' ">
                and exam_id <![CDATA[=]]> #{examId}
                </if>
                <if test="classId != null and classId != '' ">
                and class_id <![CDATA[=]]> #{classId}
                </if>
                <if test="classExamNum != null and classExamNum != '' ">
                and class_exam_num <![CDATA[=]]> #{classExamNum}
                </if>
                <if test="examItemTime != null  ">
                and exam_item_time <![CDATA[=]]> #{examItemTime}
                </if>
                <if test="createUserName != null and createUserName != '' ">
                and create_user_name <![CDATA[=]]> #{createUserName}
                </if>
                <if test="createTime != null  ">
                and create_time <![CDATA[=]]> #{createTime}
                </if>
    </sql>

    <!--分页（模糊）查询-->
	<select id="likeSelect" parameterType="java.util.HashMap"
		resultType="java.util.LinkedHashMap">
			select
				exam_id as "examId",
				class_id as "classId",
				class_exam_num as "classExamNum",
				exam_item_time as "examItemTime",
				create_user_name as "createUserName",
				create_time as "createTime",
				exam_item_id as "examItemId"

                from `ams_exam_item`
			
			<where>
                <include refid="likeSelectConditions"/>
			</where>
			
			<if test="orderStr != '' and orderStr != null">
				order by ${orderStr}
			</if>
            <if test="start != null and pageSize != null">
                limit #{start},#{pageSize}
            </if>
		
		
	</select>

    <!--分页（模糊）查询条数-->
	<select id="likeSelectCount" parameterType="java.util.HashMap"
		resultType="java.lang.Long">
		select 
			count(1)
		from `ams_exam_item`
		
		<where>
            <include refid="likeSelectConditions"/>
		</where>
	</select>
	
</mapper>