<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ams.dao.IBasicRoleDao">

    <!--添加-->
	<insert id="add" parameterType="java.util.HashMap">
		insert into `basic_role`
            <trim prefix="(" suffix=")" suffixOverrides=",">
				<if test="roleId != null">
					role_id,
				</if>
				<if test="roleCode != null">
					role_code,
				</if>
				<if test="roleName != null">
					role_name,
				</if>
				<if test="remark != null">
					remark,
				</if>
				<if test="createUserName != null">
					create_user_name,
				</if>
				<if test="createTime != null">
					create_time,
				</if>
				<if test="editUserName != null">
					edit_user_name,
				</if>
				<if test="editTime != null">
					edit_time,
				</if>
				<if test="flgDelete != null">
					flg_delete,
				</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
				<if test="roleId != null">
					#{roleId},
				</if>
				<if test="roleCode != null">
					#{roleCode},
				</if>
				<if test="roleName != null">
					#{roleName},
				</if>
				<if test="remark != null">
					#{remark},
				</if>
				<if test="createUserName != null">
					#{createUserName},
				</if>
				<if test="createTime != null">
					#{createTime},
				</if>
				<if test="editUserName != null">
					#{editUserName},
				</if>
				<if test="editTime != null">
					#{editTime},
				</if>
				<if test="flgDelete != null">
					#{flgDelete},
				</if>
		</trim>
	</insert>

    <!--删除-->
	<delete id="delete" parameterType="java.util.HashMap">
		delete from `basic_role`
		<where>
            <if test="roleId != null">
                and role_id=#{roleId}
            </if>
            <if test="roleId == null">
                and 1 = 0
            </if>
		</where>
	</delete>

    <!--更新-->
	<update id="update" parameterType="java.util.HashMap">
		update `basic_role`
		<trim prefix="set" suffixOverrides=",">
				<if test="roleId != null">
					role_id=#{roleId},
				</if>
				<if test="roleCode != null">
					role_code=#{roleCode},
				</if>
				<if test="roleName != null">
					role_name=#{roleName},
				</if>
				<if test="remark != null">
					remark=#{remark},
				</if>
				<if test="createUserName != null">
					create_user_name=#{createUserName},
				</if>
				<if test="createTime != null">
					create_time=#{createTime},
				</if>
				<if test="editUserName != null">
					edit_user_name=#{editUserName},
				</if>
				<if test="editTime != null">
					edit_time=#{editTime},
				</if>
				<if test="flgDelete != null">
					flg_delete=#{flgDelete},
				</if>
		</trim>
		<where>
            <if test="roleId != null">
                and role_id=#{roleId}
            </if>
            <if test="roleId == null">
                and 1 = 0
            </if>
		</where>
	</update>

    <!--固定条件查询-->
	<select id="select" parameterType="java.util.HashMap"
		resultType="java.util.LinkedHashMap">
			select 
				role_code as "roleCode",
				role_name as "roleName",
				remark as "remark",
				create_user_name as "createUserName",
				create_time as "createTime",
				role_id as "roleId"
			from `basic_role`
			<where>
					<if test="roleId != null">
						and role_id=#{roleId}
					</if>
					<if test="roleCode != null">
						and role_code=#{roleCode}
					</if>
					<if test="roleName != null">
						and role_name=#{roleName}
					</if>
					<if test="remark != null">
						and remark=#{remark}
					</if>
					<if test="createUserName != null">
						and create_user_name=#{createUserName}
					</if>
					<if test="createTime != null">
						and create_time=#{createTime}
					</if>
					<if test="editUserName != null">
						and edit_user_name=#{editUserName}
					</if>
					<if test="editTime != null">
						and edit_time=#{editTime}
					</if>
					<if test="flgDelete != null">
						and flg_delete=#{flgDelete}
					</if>
			</where>
			<if test="orderStr != '' and orderStr != null">
				order by ${orderStr}
			</if>
            <if test="start != null and pageSize != null">
                limit #{start},#{pageSize}
            </if>
		
		
	</select>

    <!--分页（模糊查询的公共条件）-->
    <sql id="likeSelectConditions">
                <if test="roleCode != null and roleCode != '' ">
                and role_code <![CDATA[=]]> #{roleCode}
                </if>
                <if test="roleName != null and roleName != '' ">
                and role_name <![CDATA[=]]> #{roleName}
                </if>
                <if test="remark != null and remark != '' ">
                and remark <![CDATA[=]]> #{remark}
                </if>
                <if test="createUserName != null and createUserName != '' ">
                and create_user_name <![CDATA[=]]> #{createUserName}
                </if>
                <if test="createTime != null  ">
                and create_time <![CDATA[=]]> #{createTime}
                </if>
    </sql>

    <!--分页（模糊）查询-->
	<select id="likeSelect" parameterType="java.util.HashMap"
		resultType="java.util.LinkedHashMap">
			select
				role_code as "roleCode",
				role_name as "roleName",
				remark as "remark",
				create_user_name as "createUserName",
				create_time as "createTime",
				role_id as "roleId"

                from `basic_role`
			
			<where>
                <include refid="likeSelectConditions"/>
			</where>
			
			<if test="orderStr != '' and orderStr != null">
				order by ${orderStr}
			</if>
            <if test="start != null and pageSize != null">
                limit #{start},#{pageSize}
            </if>
		
		
	</select>

    <!--分页（模糊）查询条数-->
	<select id="likeSelectCount" parameterType="java.util.HashMap"
		resultType="java.lang.Long">
		select 
			count(1)
		from `basic_role`
		
		<where>
            <include refid="likeSelectConditions"/>
		</where>
	</select>
	
</mapper>