# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\教务管理系统\service\ams\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
